<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
    <title>profile page!</title>
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="nav1">
                <div id="cirr"><i class="ri-drop-fill"></i></div>
                <h5>Dropdown</h5>
            </div>
            <div id="sear">
                <div id="ico">
                    <i class="ri-search-line"></i>
                    <h5>Search</h5>
                </div>
            </div>
            <div id="con">
                <h5>find people</h5>
                <h5>messages</h5>
            </div>
            <div id="noti">
                <h5>my contacts</h5>
                <div id="nott">
                    <img src="/images/image2.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="hero">
         <div id="pro">
            <div id="img">
                <img src="/images/image3.jpg" alt="">
            </div>
            <div id="work">
                <div id="bio">
                    <h6>bio</h6><div id="line"></div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, assumenda neque? Dolorem natus impedit beatae unde! Explicabo, quod placeat saepe, vel, illo accusamus aut aperiam quia sunt exercitationem dolor aliquid.</p>
                <div id="btn"><a href="/friends/<%= name%>">get back on my card</a></div>
            </div>
         </div>
            <div id="info">
                <div id="info1">
                    <div id="name">
                        <h1><%= name%></h1>
                        <div id="loco">
                            <i class="ri-map-pin-2-fill"></i>
                            <h6>Middelfart, Denmark.</h6>
                        </div>
                    </div>
                    <div id="bii">
                        <h4>papa ki pari</h4>
                    </div>
                    <div id="jo"><h4>entrepreneur</h4></div>
                    <div id="haza">
                        <h6>aassi hazar ke shooess hai mere pass lawde tera ghar usme chalein jayeniga isme!</h6>
                    </div>
                    <div id="butt">
                        <div id="foll">
                            <i class="ri-check-line"></i>
                            <h5>Follow</h5>
                        </div>
                        <div id="mess">
                            <i class="ri-chat-4-fill"></i><h5>message</h5></div>
                    </div>
                    <div id="line"></div>
                    <div id="pic">
                        <h6>Photos</h6>
                        <div id="linee"></div>
                    </div>
                    <div id="photos">
                        <div class="pho"><img src="/images/img1.jpg" alt=""></div>
                        <div class="pho"><img src="/images/img2.jpg" alt=""></div>
                        <div class="pho"><img src="/images/img3.jpg" alt=""></div>
                    </div>
                </div>
                <div id="info2">
                    <img src="/images/image1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>