*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    position: relative;
}
#nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 2px solid #888;
}
#nav1{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cirr{
    width: 40px;
    height: 40px;
    background: linear-gradient(rgb(45, 121, 245) 60%,rgb(250, 250, 250) 90%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cirr i{
    color: #fff;
    font-size: 25px;
}
#nav1 h5{
    font-size: 18px;
    text-transform: uppercase;
}
#sear{
    width: 15%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #888;
    border-radius: 40px;
}
#ico{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #888;
}
#con{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#con h5{
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
}
#noti{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#nott{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    
}
#nott img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#noti h5{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
#hero{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;

}
#img{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 7%;
    
}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#pro{
    width: 25%;
    height: 100%;
    position: relative;
}
#work{
    width: 90%;
    height: 45%;
    position: absolute;
    top: 55%;
    left: 7%;
}
#bio{
    width: 100%;
    height: 5%;
    display: flex;
    position: relative;
    top: 5%;
}
#bio h6{
    font-size: 16px;
    text-transform: capitalize;
}
#line{
    width: 90%;
    height: 2px;
    background-color: #888;
    position: absolute;
    bottom: 1%;
    left: 9%;
}
#work p{
    position: absolute;
    top: 15%;
    color: #666;
}
#info{
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

}
#info1{
    width: 70%;
    height: 100%;
    position: relative;
}
#info2{
    width: 30%;
    height: 100%;
    padding: 20px;
}
#btn{
    width: 200px;
    height: 60px;
    background-color: rgb(2, 139, 244);
    border-radius: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#btn a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    color: rgb(242, 238, 238);
}
#name{
    width:100%;
    height: 10%;
    position: absolute;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
#name h1{
    font-size: 60px;
    text-transform: capitalize;
}
#loco{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #888;
}
#bii{
    width: 20%;
    height: 7%;
    position: absolute;
    top: 17%;
    left:2%;

}
#bii h4{
    font-size: 20px;
    text-transform: capitalize;
    color: #888;
    font-weight: 600;
}
#jo{
    width: 20%;
    height: 7%;
    position: absolute;
    top: 22%;
    left:2%;

}
#jo h4{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(45, 121, 245) ;
    font-weight: 600;
}
#haza{
    width: 80%;
    height: 7%;
    position: absolute;
    top: 27%;
    left:2%;

}
#haza h6{
    font-size: 16px;
    text-transform: capitalize;
    color: #888 ;
    font-weight: 600;
}
#butt{
    width: 80%;
    height: 10%;
    position: absolute;
    top: 37%;
    left:50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#foll{
    width: 180px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#mess{
    width: 180px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#foll h5 {
    font-size: 22px;
    color:rgb(45, 121, 245) ;
    font-weight: 600;
}
#mess h5 {
    font-size: 22px;
    color:rgb(45, 121, 245) ;
    text-transform: capitalize;
    font-weight: 600;
}
#foll i {
    font-size: 30px;
    color:rgb(45, 121, 245) ;
}
#mess i {
    font-size: 30px;
    color:rgb(45, 121, 245) ;
}
#info1 #line{
    width: 90%;
    height: 2px;
    background-color: #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#pic{
    width: 90%;
    height: 6%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
}
#linee{
    width: 90%;
    height: 2px;
    background-color: #888;
    position: absolute;
    top: 40%;
    left: 9%;
}
#pic h6{
    font-size: 18px;
    text-transform: capitalize;
}
#photos{
    width: 90%;
    height: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
}
.pho{
    width: 33%;
    height: 100%;
}
.pho img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#info2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#btn:hover{
    background-color: rgb(255, 76, 165) ;
}